
.article-title{
  border-bottom:solid thin #F1F1F1;
}

.riding-info{
  h2{
    font-weight: bolder;
    font-size: 25px;
    padding-bottom:8px;
  }
  p{
    color: #6C7A89;
    margin-bottom:20px;
  }
}
.carousel-container{
  position: relative;
  width: 100%;
  padding: 20px 0;

  ul{
    width: 560px;
    min-height: 300px;
    margin:0 auto;
    overflow: hidden;
    white-space: nowrap;
    //position: absolute;
    li{
      //position:absolute;
      list-style-type: none;
      display: none;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      min-height: 250px;
      &:first-child{
        display: inline-block;
      }
    }
  }

  .btn{
    border:none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: $button-color;
    color: #FFF;
    position:absolute;
    top: 40%;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 18px;
    &:hover,
    &:focus{
      cursor: pointer;
      background-color: $button-hover-color;
    }
    &.previous{
      left: 2%;
    }
    &.next{
      right: 2%;
    }
  }
}

table{
  width: 100%;
  min-width: 100%;
  caption{
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 20px 0px 40px;
  }
  thead{
    text-align:left;
    background-color: #123C69;
    color: #FFF;
    tr{
      th{
        padding:10px 0 10px 8px;
        &.name{
          width:50%;
        }
        &.percentage{
          //width: 20%;
          text-align: center;
        }
      }
    }
  }
  tbody{
    tr{
      td{
        padding:12px 8px;
        &:last-child{
          text-align:center;
        }
        &.partyMarker{
          border-left:12px solid grey;
        }
        &.LIB{
          border-color: red;
        }
        &.PC{
          border-color: blue;
        }
        &.NDP{
          border-color: orange;
        }
        &.GRN{
          border-color: green;
        }
      }
      &.first{
        background-color:#F1F1F1;
        font-weight: bolder;
      }
    }
  }

}
@media screen and (max-width: 767px) {
  .carousel-container {
    ul{
      width: 80%;
    }
    .btn{
      width: 5%;
      height: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .riding-info{
    margin-bottom:65px;
    padding-left:20px;
  }
  .carousel-container {
    ul{
      width: 100%;
    }
    .btn{
      width: 40%;
      max-width: 40%;
      height: 25px;
      display: block;
      //position:relative;
      top:90px;
      -webkit-border-radius: 0%;
      -moz-border-radius: 0%;
      border-radius: 0%;
      margin-bottom: 15px;

      &.previous{
        float: left;
        left: 0%;
      }
      &.next{
        float: right;
        right: 0%;
      }
    }
  }

}
